<div class="container-hluid">
  <div class="row no-gutters">
    <div class="col-3 bg-primary ">
      <h1>test</h1>
      <h1>test</h1>
      <h1>test</h1>
    </div>
    <div class="col-9">
      <hr>
      <br>
      <h1>マイカレンダー</h1>
      <br>
      <div class="row">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>